:root {
    --secondary-font-color: #b3b3b3;
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
}

header {
    background-color: #000000;
    position: relative;
    padding: 15px 10px;
}

.header-left {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.header-right {
    position: absolute;
    right: 20px;
}

header .svg-header {
    filter: brightness(0) invert(1);
}

.logo-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.home-img,
.browse-img,
.search-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.browse-img,
.search-img {
    opacity: 0.7;
}

.install-img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.home-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
}

.search-bar {
    border-radius: 50px;
    background-color: #1f1f1f;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    min-width: fit-content;
    color: var(--secondary-font-color);
}

.search-bar:focus-within {
    border: #fff 1px solid;
}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 210px;
}

.header-link {
    text-decoration: none;
    color: var(--secondary-font-color);
    font-weight: 600;
    font-size: 18px;
}

.header-link:hover {
    color: #fff;
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

.install {
    gap: 6px;
    cursor: pointer;
}

.install:hover,
.install p:hover,
.install-img:hover,
.sign-up:hover {
    opacity: 1;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

.install p,
.sign-up {
    color: var(--secondary-font-color);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.install-img {
    opacity: 0.7;
}

.btn {
    border: #ffffff 1px solid;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #fff;
    color: #000000;
}

.left {
    width: 25vw;
    color: aqua;
}

.right {
    width: 75vw;
    color: aqua;
}